body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gallery {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 20px 0; /* Add some margin to separate the arrows from the image */
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.image-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 100vh; /* Limit the maximum height to viewport height */
    display: block;
}

.arrow {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    margin-right: 10px;
}

.right-arrow {
    margin-left: 10px;
}

.dots-container {
    text-align: center;
    padding: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: grey;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}

